<% include header %>
	<table class="ui striped table">
	 	<thead>
	    	<tr>
		      	<th>ID</th>
				  <th>课程名</th>
				  <th>课程代码</th>
				  <th>课程老师id</th>
				  <th>收费标准</th>
				  <th>上课时间</th>
				  <th>上课日期</th>
	    	</tr>
		  </thead>
		  <tbody>
			  <% classes.forEach(function(singleClass){ %>
				<tr>
					<td><%= singleClass.id %></td>
					<td><%= singleClass.name %></td>
					<td><%= singleClass.code %></td>
					<td><%= singleClass.teacher_id %></td>
					<td><%= singleClass.price %></td>
					<td><%= singleClass.start_time + ' 至 ' + singleClass.end_time %></td>
					<td><%= singleClass.start_date + ' 至 ' + singleClass.end_date + ' 每 ' + singleClass.week_day %></td>
				</tr>
			<% }) %>
		  </tbody>
	</table>
	<%- include("pagination",{type:''}) %>
<% include footer %> 