<% include header %>
<form class="ui form segment" method="get" action="/admin/showStudentsAddClass/<%= classId %>" style="width: 30%;margin: 0 auto;">
	<button class="ui fluid primary button" type="submit">添加学生</button>
  </form>
	<table class="ui striped table">
	 	<thead>
	    	<tr>
		      	<th>学生ID</th>
				  <th>学生姓名</th>
				  <th>学生电话</th>
				  <th>学生微信</th>
	    	</tr>
	  	</thead>
		<tbody>
		 <% users.forEach(function(user){ %>
			<tr>
	    		<td><%=  user.student_id %></td>
				<td><%=  user.student_name %></td>
				<td><%=  user.phone_number %></td>
				<td><%=  user.wechat %></td>
	    	</tr>
		 <% }) %>
		</tbody>
	</table>
	<%- include("pagination",{type:'adminUser'}) %>
<% include footer %>          